@media (min-width: 1024px) {
    .comment-wrap.comment-wrap-out.clearfix.mobile {
        display: none;
    }

    .single-video-wrap.style2 .video-author-info .author-wrap.mobile {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .comment-wrap.comment-wrap-out.clearfix.mobile, .single-video-wrap.style2 .video-author-info .author-wrap.mobile {
        display: block;
    }

    .comment-wrap.comment-wrap-out.clearfix.desktop, .single-video-wrap.style2 .video-author-info .author-wrap.desktop {
        display: none;
    }

    .single-video-wrap .vidio-loop-style3-wrap .vidio-item-wrap {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 480px){
    .single-video-wrap.blog-single .grid.grid-cols-12.gap-12 {
        grid-gap: 0;
        gap : 0;
    }

    .single-video-wrap .video-meta .title {
        font-size: 24px;
        line-height: 1.7;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .single-video-wrap .video-meta .title a {
        font-size: 24px;
    }

    .single-video-wrap .video-author-info .author-ava {
        display: contents;
    }

    .single-video-wrap.single-style-3 .video-meta .views-video span:nth-child(1) {
        padding-left: 6px;
    }

}

@media only screen and (max-width: 375px) {
    .single-video-wrap.blog-single .video-content-bottom .share-video span {
        font-size: 18px;
    }

    .video-content-bottom .share-video {
        display: grid;
        align-items: center;
    }

    .single-video-wrap .video-category-inner .views-video {
        position: relative;
        display: flex;
        align-self: flex-end;
        font-size: 20px;
    }

    .single-video-wrap .meta-wrapper-single {
        margin-top: 20px;
    }

    .single-video-wrap.style2 .video-author-info {
        display: grid;
    }

    .single-video-wrap .video-author-info .author-ava {
        display: flex;
    }

    .single-video-wrap.style2 .video-author-info .author-wrap.mobile {
        align-self: center;
        padding-left: 10px;
    }

    .single-video-wrap .meta-wrapper-single .tag-wrapper.meta-top {
        float: left;
    }

    .views-video span svg {
        transform: translate(-6px, 0px);
    }

    .single-video-wrap .video-meta .views-video span {
        align-items: center;
    }
}